* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /* body- source :https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_justify-content_center*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: black;
  overflow: hidden;
}

a {
  text-decoration: none; 
  color: white;  
}

a:hover {
  color: gold; 
  cursor: pointer; 
}

.square {
  background-color: red;
  width: 50vw;
  height: 100vh;
  position: absolute;
  left: 0;
  transform-origin: left center;
  animation: openLeft 1.5s ease-in-out forwards;
}

.square1 {
  background-color: red;
  width: 50vw;
  height: 100vh;
  position: absolute;
  right: 0;
  transform-origin: right center;
  animation: openRight 1.5s ease-in-out forwards;
}

/* transition to open curtains aka squares- Source:https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes */
@keyframes openLeft {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(-10deg) translateX(-5%);
  }
}

@keyframes openRight {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(10deg) translateX(5%);
  }
}

@keyframes zoomOut {
  from {
      transform: translate(-50%, -50%) scale(2);
      opacity: 0;
  }
  to {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
  color: white;
  z-index: 10; 
  animation: zoomOut 3s ease-in-out forwards;
  animation-delay: 0s; /*side note delays when the animation is triggered */
}
